<!DOCTYPE html>
<html>
    <head>
        <title>HotelSearch</title>
        <link rel="stylesheet" href="/app.css">
        <link rel="stylesheet" href="/image-slider.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body class="bg">
        <nav class="navbar navbar-default bg-light">
            <div class="container-fluid">
                    <div class="navbar-header">
                      <a class="navbar-brand" href="/">Hotels</a>
                    </div>
                       <ul class="nav">
                        <% if(!currentUser){ %>
                          <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/register">SignUP</a>
                          </li>
                        <% }else{ %>
                          <li class="nav-item">
                            <a class="nav-link" href="#"><%= currentUser.username %></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                          </li>
                        <% } %>
                        </ul>
                    </div>
            </div>
        </nav>

