
<!DOCTYPE html>
<html>
    <head>
        <title>Hotel Search</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
    
    <div class="container">
    <div id="landing-header">
 		<h1>Welcome to HotelSearch</h1>
 		<h6 class="text-white">Find the best Hotels to stay at your best Tour</h6>
		<form action="/hotels/search" method="GET">
		    <input class="border border-primary" type="Search" name="search" placeholder="place">
		    <button class=" btn-primary btn-sm"><i class="fa fa-search" aria-hidden="true"></i></button>
		</form>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<%- include ('partials/footer') %>